In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.read_csv("../datasets/correlational.csv")
display(df.head())
display(df.shape)

,vehicletype,vehiclemodel,vehicleprimaryuse,vehicleregistrationnumber,label
0,0,94,9,1,35
1,0,94,9,1,35
2,0,93,12,1,13
3,0,94,9,1,35
4,0,94,9,3,35

(83135, 5)

In [10]:
df.drop_duplicates(inplace=True)
display(df.head())
display(df.shape)

,vehicletype,vehiclemodel,vehicleprimaryuse,vehicleregistrationnumber,label
0,0,94,9,1,35
2,0,93,12,1,13
4,0,94,9,3,35
7,0,94,9,2,35
12,0,87,9,1,37

(2971, 5)

In [13]:
label_count = df["label"].value_counts()
display(label_count)

label
35    786
13    223
8     196
5     189
19    179
28    166
32    116
37    113
16    109
39    108
2     104
38     92
18     85
25     64
9      60
31     43
27     43
26     40
30     29
33     26
15     23
11     22
34     22
7      19
23     16
14     16
22     16
21     11
17     10
3       8
40      7
20      7
24      6
12      4
1       3
4       3
10      2
29      2
36      2
6       1
Name: count, dtype: int64

In [14]:
label_count_filtered = label_count[label_count >= 100]

labels_to_keep = label_count_filtered.index.tolist()

df = df[df["label"].isin(labels_to_keep)]

label_count = df["label"].value_counts()
print(label_count)
print(label_count.shape)

label
35    786
13    223
8     196
5     189
19    179
28    166
32    116
37    113
16    109
39    108
2     104
Name: count, dtype: int64
(11,)

In [16]:
from imblearn.over_sampling import SMOTENC

X = df.drop('label', axis=1)
y = df['label']
cat_index = [0,1,2]

oversample = SMOTENC(cat_index, random_state=42)
X_resampled, y_resampled = oversample.fit_resample(X, y)

In [17]:
df_balanced = pd.concat([X_resampled, y_resampled], axis='columns')
df_balanced.head()

,vehicletype,vehiclemodel,vehicleprimaryuse,vehicleregistrationnumber,label
0,0,94,9,1,35
1,0,93,12,1,13
2,0,94,9,3,35
3,0,94,9,2,35
4,0,87,9,1,37

In [19]:
balanced_labels = df_balanced["label"].value_counts()
display(balanced_labels)

label
35    786
13    786
37    786
8     786
28    786
5     786
19    786
16    786
2     786
39    786
32    786
Name: count, dtype: int64

In [ ]:
df_balanced.to_csv("../datasets/balancedDataset.csv", index=False)