In [66]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [67]:
df = pd.read_csv('../migrations/dataset/legislationRequirement.csv')
df.head()

,vehiclemakeid,vehiclemakename,vehiclemodelid,vehiclemodelname,vehicletypeid,vehicletypename,vehiclemodeldate,transactiondate,requirementsnumbermeet,modelprice,electricrange
0,35,TESLA,111,Roadster,1,Battery Electric Vehicle (BEV),2008-01-01,2010-01-06,1,98950,220
1,35,TESLA,111,Roadster,1,Battery Electric Vehicle (BEV),2008-01-01,2010-02-03,1,98950,220
2,13,FORD,40,Ranger,1,Battery Electric Vehicle (BEV),2000-01-01,2010-02-08,1,0,58
3,35,TESLA,111,Roadster,1,Battery Electric Vehicle (BEV),2008-01-01,2010-02-11,1,98950,220
4,35,TESLA,111,Roadster,1,Battery Electric Vehicle (BEV),2010-01-01,2010-02-16,2,110950,245